{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ title }}</h1>

    {% if age > 18 %}
        <p>Vous êtes majeur!</p>
    {% else %}
        <p>Désolé vous êtes mineur !!</p>
    {% endif %}

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut ea, assumenda eum quod suscipit esse officiis doloremque illum laboriosam obcaecati.</p>
    <p>Accusamus exercitationem veniam beatae, atque autem voluptate suscipit excepturi facere quos id accusantium. Molestiae eum quod, maxime esse dolorum minima.</p>
    <p>At eum sunt praesentium tempora quos repellendus doloribus commodi alias quod cumque est, reiciendis eos sint. Reiciendis ea dolorum quia.</p>
    <p>Veniam animi cumque ratione? Optio repudiandae temporibus delectus. Distinctio obcaecati ipsum, facilis deserunt commodi debitis minus? Molestiae iusto nobis quo.</p>
{% endblock %}