{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Learn Symfony 4 - <small>Version : {{ version }}</small></h1>
        <hr>
        <p class="lead">My name is {{ author }} and my pseudo is {{ pseudo }} and i have {{ age }} year.<br />
        Here, i learn a beautiful language whose name is Symfony 4 with the best instructor : "Lior Chamla" on Youtube and maybe one day on Udemy.. <br />
        I dream about it, but this formation is very too expensive !!</p>
    </div>
{% endblock %}